POSTGRES_USER=lk
POSTGRES_PASSWORD=lk
POSTGRES_DB=lk
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://lk:lk@localhost:5432/lk
SYNC_INTERVAL_HOURS=48
YANDEX_SCHEDULE_URL=https://disk.360.yandex.ru/edit/d/BDZuun7mF2i0tAQE0ZYoPCPegnqahzm72s0qoIz-cKg6cG9yaFB3c1Vtdw?from_public=1
YANDEX_GRADES_URL=https://disk.360.yandex.ru/edit/d/BDZuun7mF2i0tAQE0ZYoPCPegnqahzm72s0qoIz-cKg6OUN1bHF6UDN3Zw?from_public=1
